tb-main header {
  background-color: var( --taste-primary-color );
  color: var( --taste-secondary-color );
}

tb-main header div {
  align-items: center;  
  display: flex;
  flex-direction: row;
  height: 56px;  
  padding: 0 8px 0 8px;
}

tb-main header div button:last-of-type {
  margin-left: auto;
}

tb-main header h3 {
  color: var( --taste-secondary-color );
  cursor: default;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 0 16px;
  padding: 0;
}

tb-main header ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 16px 0 8px 16px;
}

tb-main header ul li {
  display: flex;
  flex-direction: column;
}

tb-main header ul li p {
  cursor: default;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

tb-main header ul li p:first-of-type {
  font-weight: 600;
}

tb-main header ul li p:last-of-type {
  text-transform: uppercase;
}
